[submodule "themes/aafu"]
	path = themes/aafu
	url = https://github.com/darshanbaral/aafu.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/hugo-resume-smith3v"]
	path = themes/hugo-resume-smith3v
	url = git@github.com:smith3v/hugo-resume.git
[submodule "themes/adritian-free-hugo-theme"]
	path = themes/adritian-free-hugo-theme
	url = git@github.com:smith3v/adritian-free-hugo-theme.git
	branch = ny-2025
