[submodule "themes/aafu"]
	path = themes/aafu
	url = https://github.com/darshanbaral/aafu.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
